/*Element Selector*/
p { 
    color: blue; 
}

/*ID Selector*/
#latest { 
    background-color: purple; 
}

/*Class Selector*/
.class { 
    color: hotpink;
}

/*Element with Class Selector*/
p.classb { 
    color: saddlebrown;
}

/*Descendant Selector*/
#id h2 {
    color: yellow;
}
#id div h2 {
    color: green;
}

/*Child Selector*/
#id > h2 {
    color: aqua;
}

/*Hover Selector*/
a:hover {
    color: darkslategray;
}